%section
  .container
    %h1 New Mailing List
    = form_tag account_mailing_lists_path, method: :post do
      = label  :name, 'Name'
      = text_field :mailing_list, :name, 'name'
      %br
      = label :description, 'Description'
      = text_area :mailing_list, :description, 'description'
      %br
      = submit_tag 'Add List'