%section{:class => "how-it-works"}
  %h1 How it Works

  %article
    = image_tag image_path "avatar.png"
    %h3 Create account or Sign in
    %p First create an account, or sign in with your existing account or Facebook account.
  %article
    = image_tag image_path "calendar.png"
    %h3 Create a new Campaign
    %p Create a new drip campaign (series of emails sent to user, with a delay in-between each message).
  %article
    = image_tag image_path "add_message.png"
    %h3 Add Messages to your Campaign
    %p Use the visual markdown based message composer, add image and video attachements and more.
  %article
    = image_tag image_path "user_event.png"
    %h3 Create a new Event
    %p Next create a new event, which will be called to subscribe a new user to an existing campaign.
  %article
    = image_tag image_path "trigger.png"
    %h3 Set the Event Triggers
    %p Finally add triggers for each campaign you want to subscribe to, when this event is triggered.
  %article
    = image_tag image_path "integrate.png"
    %h3 Integrate with your Site or Mobile App
    %p Simply make a call from your website or mobile application and subscribe users to a campaign.

%section{:class => "signup-callout"}
  %p Sign up today and gets started with our powerful campaign builder.
  = render "shared/signup_links"
